<div>
  <h1>First Angular App</h1>
</div>

<!-- old way -->
<!-- <h2 *ngIf="isLoggedIn; else message">{{username}}</h2> -->
<!---->
<!-- <ng-template #message> -->
<!--   <h4>User is not logged in(ng-template)</h4> -->
<!-- </ng-template> -->

<!-- new way -->
<!---->
<!-- @if (isLoggedIn) { -->
<!-- <h2>{{username}}</h2> -->
<!-- } @else { -->
<!-- <h4>User is not logged in</h4> -->
<!-- } -->

<!-- Multiple conditions -->

<!-- <h4 *ngIf="isAdmin">Welcome Admin</h4> -->
<!-- <h4 *ngIf="isMember">Welcome Member</h4> -->
<!-- <h4 *ngIf="isGuest">Welcome Guest</h4> -->

<!-- @if @else approach -->

<!-- @if (isAdmin) { -->
<!-- <h4>Welcome Admin</h4> -->
<!-- } @else if (isMember) { -->
<!-- <h4>Welcome Member</h4> -->
<!-- } @else if (isGuest) { -->
<!-- <h4>Welcome Guest</h4> -->
<!-- } -->

<!-- if directive with number values  -->

<!-- <button (click)="countLoginAttempts()" *ngIf="loginCount <= 3">Log in</button> -->
<!---->
<!-- <h4 *ngIf="loginCount > 3">Exceeded 3 login attempts, Try again later</h4> -->

<!-- ng-template outles -->

<!-- <ng-template #callToAction> -->
<!--   <button>Join now</button> -->
<!-- </ng-template> -->
<!---->
<!-- <div [ngTemplateOutlet]="callToAction"> -->
<!--   <h5>Sidebar</h5> -->
<!-- </div> -->
<!-- <div [ngTemplateOutlet]="callToAction"> -->
<!--   <h5>Hero</h5> -->
<!-- </div> -->
<!-- <div [ngTemplateOutlet]="callToAction"> -->
<!--   <h5>footer</h5> -->
<!-- </div> -->

<!-- ng for directive -->

<!-- <h3>{{users}}</h3> -->
<!---->
<!-- <h3 *ngFor="let user of users">{{user}}</h3> -->
<!---->
<!-- @for (user of users; track user) { -->
<!-- <h3>{{user}}</h3> -->
<!-- } -->
<!---->
<!-- <ul> -->
<!--   <li *ngFor="let user of users">{{user}}</li> -->
<!-- </ul> -->

<!-- Fetch array objects -->

<!-- <div *ngIf="usersObj.length == 0"> -->
<!--   <p>No Users to Display</p> -->
<!-- </div> -->
<!---->
<!-- <ul> -->
<!--   <li *ngFor="let user of usersObj; let i = index; let usersCount = count; let first = first; let last = last"> -->
<!--     {{first}} / {{last}} - {{usersCount}} - {{i + 1}} {{user.name}} -->
<!--     <button (click)="onDelete(i)">Delete</button> -->
<!--   </li> -->
<!-- </ul> -->
<!---->
<!-- Change Detection -->
<!-- <button (click)="addNewUser()">Add new user</button> -->

<!-- <div [ngSwitch]="usersRole"> -->
<!--   <p *ngSwitchCase="'Admin'">Welcome Admin</p> -->
<!--   <p *ngSwitchCase="'Member'">Welcome Member</p> -->
<!-- </div> -->
<!---->
<!-- @switch(usersRole) { -->
<!-- @case('Admin') { -->
<!-- <p>Welcome Admin</p> -->
<!-- } -->
<!-- @case('Member') { -->
<!-- <p>Welcome Member</p> -->
<!-- } -->
<!-- @default { -->
<!-- <p>Log in</p> -->
<!-- } -->
<!-- } -->

<!-- NgStyle -->

<!-- <h1 [style.color]="isLoggedIn ? 'green' : 'red'" [style.textTransform]="isLoggedIn ? 'uppercase' : 'lowercase'"> -->
<!--   Welcome Admin -->
<!-- </h1> -->
<!---->
<!-- <h1 [ngStyle]="{ 'color': isLoggedIn ? 'green' : 'red'}"> -->
<!--   Ng Style Directive -->
<!-- </h1> -->

<!-- ng class -->
<h1 [class.login]="isLoggedIn" [class.logout]="!isLoggedIn">Class binding</h1>

<h1 [ngClass]="{
  'login': isLoggedIn,
  'logout': !isLoggedIn
  }">Ng Class Directive</h1>
